
body,#root {
  width : 100vw;
  height : 100vh;
  overflow: hidden;
}

.App{
  width: 100vw;
  height: 100vh;
  align-items: start;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.Editor { 
  width : 50%;
  height : 100%;
}


.cm-editor {
  height : 100%;
}